<h2>Edytuj swój profil</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>Imię i nazwisko<br />
  <%= f.text_field :email %></div>

  <div>Hasło <i>(zostaw puste, jeśli nie chcesz zmieniać)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div>Potwierdź hasło<br />
  <%= f.password_field :password_confirmation %></div>

  <div>Aktualne hasło <i>(w celu potwierdzenia twojej tożsamości)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Aktualizuj" %></div>
<% end %>

