<h2>Zarejestruj się</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>Imię i nazwisko<br />
  <%= f.text_field :email %></div>

  <div>Hasło<br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Zarejestruj się" %></div>
<% end %>

