<h1>Lista studentów</h1>

<ul>
  <% for s in @students %>
  <li> <%= s.email %>
    <ul>
      <% for a in s.attends %>
      <li /> <%= a.created_at %>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>

<ul>
  <% for d in @dates %>
  <li /> <%= d.to_s %>
  <% for a in d.attendants %>
  <%= a.email %>
  <% end %>
  <% end %>
</ul>

<%= link_to "Zgłoś swoją obecność", attend_path %>
