<!DOCTYPE html>
<html>
<head>
  <title>Attendance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to('attendance-michal.herokuapp.com', '/')  %>

<% if student_signed_in? %>
  <li>
  Jesteś zalogowany jako <%= current_student.email %>.
  <%= link_to('Wyloguj się.', destroy_student_session_path, :method => :delete) %>
  <%= link_to('Edytuj profil.', edit_student_registration_path) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Zaloguj się.', new_student_session_path)  %>
  <%= link_to('Zarejestruj się.', new_student_registration_path)  %>
  </li>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
